html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}
body {
  background: white;
  color: #282a36;
}


.gradient {
  background: linear-gradient(to right, #ffb86c 0%, #ff0000 33%, #ffb86c 66%, #ff0000 100%);
  background-size: 400% 400%;
  animation: gradient 5s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: repeat;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.linear-wipe {
  text-align: center;
  
  background: linear-gradient(to right, #ffb86c 20%, #ff5555 40%, #ff5555 60%, #ffb86c 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 10s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.resetContainer {
}